<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmm.api.relKeyword.RelKeywordMapper">

    <select id="getRelKeyword" parameterType="com.bmm.api.relKeyword.RelKeywordDTO" resultType="com.bmm.api.relKeyword.RelKeywordDTO">
		<!--  SQL ID : KeywordMapper.getRelKeyword -->
		SELECT 
			RELKEYWORD_CODE,
			KEYWORD_CODE,
			RELKEYWORD_NM,
			SEARCH_MON,
			SEARCH_PC,
			SEARCH_MOBILE,
			CLICK_PC,
			CLICK_MOBILE,
			CLICK_PERSENT_PC,
			CLICK_PERSENT_MOBILE,
			AVERAGE_ADV,
			COMPETITION,
			(SELECT COMMON_CODE_NM FROM TB_COMMON_CODE_DETAIL tcc WHERE tcc.COMMON_CODE = TB_REL_KEYWORD.COMPETITION AND tcc.UPPERCODE = 'COMPETITION') AS COMPETITION_NM
		FROM TB_REL_KEYWORD
		WHERE KEYWORD_CODE = #{keywordCode}
		<if test="limitCount != null and limitCount != 0">
        	LIMIT #{limitCount}
    	</if>
    </select>
    
    
</mapper>