<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmm.api.commonBoard.CommonBoardMapper">

	<select id="getDetailBoard" parameterType="string" resultType="com.bmm.api.commonBoard.commonBoardDTO.CommonBoardDTO">
    
   <!--  SQL ID : CommonBoardMapper.getDetailBoard -->
        SELECT
			BOARD_CODE,
			BOARD_NM,
			USE_ANSWER,
	        USE_COMMENT,
	        USE_NOTICE,
	        USE_SECRET
		FROM TB_COMMON_BOARD
		WHERE BOARD_CODE = #{boardCode}
		
    </select>
    <!--<select id="getDetailBoardrole" parameterType="string" resultType="com.bmm.api.commonBoard.CommonBoardDTO">
		  SQL ID : CommonBoardMapper.getDetailBoardrole 
		SELECT 
			tbr.BOARD_CODE,
			tbr.ROLE_CODE,
			tbr.BOARDROLE_CODE,
		FROM TB_BOARD_ROLE tbr
		WHERE BOARD_CODE = #{boardCode}
    </select>-->
<!--   <select id="getListPost" parameterType="com.bmm.api.commonBoard.commonBoardDTO.CommonPostDTO" resultType="com.bmm.api.commonBoard.commonBoardDTO.CommonPostDTO">
    
      SQL ID : CommonBoardMapper.getListPost 
	WITH RECURSIVE POST_TREE AS (
	        SELECT
	       
				tp.BOARD_CODE,
				tp.POST_CODE,
				tp.POST_NM,
				tp.POST_INFO,
				tp.NOTICE_CHECK,
				tp.UPPER_CODE,
				tp.DETHP,
				tp.VIEW_COUNT,
				tp.SECRET_CHECK,
				tp.INSERT_USER_ID,
				tp.INSERT_DT,
				tp.COMMENT_CHECK,
				tp.ANSWER_CHECK,
				(SELECT COUNT(*) FROM TB_COMMENT tc WHERE tp.POST_CODE = tc.POST_CODE) AS COMMENT_CNT,
				TO_CHAR(tp.POST_CODE, 'FM0000000000') AS PATH
			FROM TB_POST tp
			WHERE BOARD_CODE = #{boardCode}
			AND tp.UPPER_CODE = 0
			AND tp.NOTICE_CHECK = 'N'
			<if test="searchValue != null and searchValue != ''">
				<choose>
					<when test="searchType == 'title'">
						AND POST_NM LIKE '%'||#{searchValue}||'%'
					</when>
					<when test="searchType == 'user'">
						AND INSERT_USER_ID LIKE '%'||#{searchValue}||'%'
					</when>
					<when test="searchType =='' or searchType == null">
						AND POST_NM LIKE '%'||#{searchValue}||'%' or
						INSERT_USER_ID LIKE '%'||#{searchValue}||'%'
					</when>
				</choose>
			</if>
			
			UNION ALL
			SELECT
		        p.BOARD_CODE,
		        p.POST_CODE,
		        p.POST_NM,
		        p.POST_INFO,
				p.NOTICE_CHECK,
		        p.UPPER_CODE,
		        p.DETHP,
		        p.VIEW_COUNT,
				p.SECRET_CHECK,
		        p.INSERT_USER_ID,
		        p.INSERT_DT,
		        p.COMMENT_CHECK,
				p.ANSWER_CHECK,
				(SELECT COUNT(*) FROM TB_COMMENT tc WHERE p.POST_CODE = tc.POST_CODE) AS COMMENT_CNT,
		        pt.PATH || '-' || TO_CHAR(p.POST_CODE, 'FM0000000000') AS PATH
		    FROM TB_POST p
		    JOIN POST_TREE pt ON p.UPPER_CODE = pt.POST_CODE
			WHERE p.BOARD_CODE = #{boardCode}
			)
		SELECT *
		FROM POST_TREE
		WHERE 1=1
		ORDER BY PATH
		
    </select>-->
    <select id="getListPost" parameterType="com.bmm.api.commonBoard.commonBoardDTO.CommonPostDTO" resultType="com.bmm.api.commonBoard.commonBoardDTO.CommonPostDTO">
    
      <!--SQL ID : CommonBoardMapper.getListPost -->
	WITH RECURSIVE POST_TREE AS (
		SELECT A.*
		FROM (
	        SELECT
				tp.BOARD_CODE,
				tp.POST_CODE,
				tp.POST_NM,
				tp.POST_INFO,
				tp.NOTICE_CHECK,
				tp.UPPER_CODE,
				tp.DETHP,
				tp.VIEW_COUNT,
				tp.SECRET_CHECK,
				tp.INSERT_USER_ID,
				tp.INSERT_DT,
				tp.COMMENT_CHECK,
				tp.ANSWER_CHECK,
				(SELECT COUNT(*) FROM TB_COMMENT tc WHERE tp.POST_CODE = tc.POST_CODE) AS COMMENT_CNT,
				TO_CHAR(tp.POST_CODE, 'FM0000000000') AS PATH,
				ROW_NUMBER() OVER (ORDER BY tp.POST_CODE ASC) AS RSEQ
			FROM TB_POST tp
			WHERE BOARD_CODE = #{boardCode}
			AND tp.UPPER_CODE = 0
			AND tp.NOTICE_CHECK = 'N'
			<if test="searchValue != null and searchValue != ''">
				<choose>
					<when test="searchType == 'title'">
						AND POST_NM LIKE '%'||#{searchValue}||'%'
					</when>
					<when test="searchType == 'user'">
						AND INSERT_USER_ID LIKE '%'||#{searchValue}||'%'
					</when>
					<when test="searchType =='' or searchType == null">
						AND POST_NM LIKE '%'||#{searchValue}||'%' or
						INSERT_USER_ID LIKE '%'||#{searchValue}||'%'
					</when>
				</choose>
			</if>
			) A
			WHERE RSEQ &gt; ((#{page} - 1) * #{listView})
			AND RSEQ &lt;= (#{page} * #{listView})
				UNION ALL
			SELECT
		        p.BOARD_CODE,
		        p.POST_CODE,
		        p.POST_NM,
		        p.POST_INFO,
				p.NOTICE_CHECK,
		        p.UPPER_CODE,
		        p.DETHP,
		        p.VIEW_COUNT,
				p.SECRET_CHECK,
		        p.INSERT_USER_ID,
		        p.INSERT_DT,
		        p.COMMENT_CHECK,
				p.ANSWER_CHECK,
				(SELECT COUNT(*) FROM TB_COMMENT tc WHERE p.POST_CODE = tc.POST_CODE) AS COMMENT_CNT,
		        pt.PATH || '-' || TO_CHAR(p.POST_CODE, 'FM0000000000') AS PATH,
		        NULL AS RSEQ
		    FROM TB_POST p
		    JOIN POST_TREE pt ON p.UPPER_CODE = pt.POST_CODE
			WHERE p.BOARD_CODE = #{boardCode}
			)
		SELECT *
		FROM POST_TREE
		WHERE 1=1
		ORDER BY PATH, RSEQ ASC, INSERT_DT ASC;
		
    </select>
  	<!--<select id="getListPost" parameterType="com.bmm.api.commonBoard.commonBoardDTO.CommonPostDTO" resultType="com.bmm.api.commonBoard.commonBoardDTO.CommonPostDTO">
    
     SQL ID : CommonBoardMapper.getListPost 
	WITH RECURSIVE ROOT_POST AS (
	        SELECT
				tp.BOARD_CODE,
				tp.POST_CODE,
				tp.POST_NM,
				tp.POST_INFO,
				tp.NOTICE_CHECK,
				tp.UPPER_CODE,
				tp.DETHP,
				tp.VIEW_COUNT,
				tp.SECRET_CHECK,
				tp.INSERT_USER_ID,
				tp.INSERT_DT,
				tp.COMMENT_CHECK,
				tp.ANSWER_CHECK,
				(SELECT COUNT(*) FROM TB_COMMENT tc WHERE tp.POST_CODE = tc.POST_CODE) AS COMMENT_CNT,
				TO_CHAR(tp.POST_CODE, 'FM0000000000') AS PATH,
				ROW_NUMBER() OVER (ORDER BY tp.INSERT_DT DESC) AS RSEQ
			FROM TB_POST tp
			WHERE BOARD_CODE = #{boardCode}
			AND UPPER_CODE = 0
			<if test="searchValue != null and searchValue != ''">
				<choose>
					<when test="searchType == 'title'">
						AND POST_NM LIKE '%'||#{searchValue}||'%'
					</when>
					<when test="searchType == 'user'">
						AND INSERT_USER_ID LIKE '%'||#{searchValue}||'%'
					</when>
					<when test="searchType =='' or searchType == null">
						AND POST_NM LIKE '%'||#{searchValue}||'%' or
						INSERT_USER_ID LIKE '%'||#{searchValue}||'%'
					</when>
				</choose>
			</if>
			),
			SELECTED_ROOTS AS (
			    SELECT *
			    FROM ROOT_POST
			    WHERE RSEQ &gt; ((#{page} - 1) * #{listView})
			      AND RSEQ &lt;= (#{page} * #{listView})
			),
			POST_TREE AS (
		    SELECT 
		        sr.BOARD_CODE,
		        sr.POST_CODE,
		        sr.POST_NM,
		        sr.POST_INFO,
		        sr.NOTICE_CHECK,
		        sr.UPPER_CODE,
		        sr.DETHP,
		        sr.VIEW_COUNT,
		        sr.SECRET_CHECK,
		        sr.INSERT_USER_ID,
		        sr.INSERT_DT,
		        sr.COMMENT_CHECK,
		        sr.ANSWER_CHECK,
		        sr.COMMENT_CNT,
		        sr.PATH
		    FROM SELECTED_ROOTS sr
			
			UNION ALL
			SELECT
		        p.BOARD_CODE,
		        p.POST_CODE,
		        p.POST_NM,
		        p.POST_INFO,
				p.NOTICE_CHECK,
		        p.UPPER_CODE,
		        p.DETHP,
		        p.VIEW_COUNT,
				p.SECRET_CHECK,
		        p.INSERT_USER_ID,
		        p.INSERT_DT,
		        p.COMMENT_CHECK,
				p.ANSWER_CHECK,
				(SELECT COUNT(*) FROM TB_COMMENT tc WHERE p.POST_CODE = tc.POST_CODE) AS COMMENT_CNT,
		        pt.PATH || '-' || TO_CHAR(p.POST_CODE, 'FM0000000000') AS PATH
		    FROM TB_POST p
		    JOIN POST_TREE pt ON p.UPPER_CODE = pt.POST_CODE
			WHERE p.BOARD_CODE = #{boardCode}
			)
		SELECT *
		FROM POST_TREE
		ORDER BY PATH
		
    </select>-->
    <select id="getCountPost" parameterType="com.bmm.api.commonBoard.commonBoardDTO.CommonPostDTO" resultType="int">
    
   <!--  SQL ID : CommonBoardMapper.getCountPost -->
        SELECT COUNT(*)
		FROM TB_POST
		WHERE BOARD_CODE = #{boardCode}
		AND UPPER_CODE = 0
		AND NOTICE_CHECK = 'N'
		<if test="searchValue != null and searchValue != ''">
			<choose>
				<when test="searchType == 'title'">
					AND POST_NM LIKE '%'||#{searchValue}||'%'
				</when>
				<when test="searchType == 'user'">
					AND INSERT_USER_ID LIKE '%'||#{searchValue}||'%'
				</when>
				<when test="searchType =='' or searchType == null">
					AND POST_NM LIKE '%'||#{searchValue}||'%' or
					INSERT_USER_ID LIKE '%'||#{searchValue}||'%'
				</when>
			</choose>
		</if>
		 
    </select>

	
    <insert id="insertPost" parameterType="com.bmm.api.commonBoard.commonBoardDTO.CommonPostEntity">
    <!--  SQL ID : CommonBoardMapper.insertPost -->
		INSERT INTO TB_POST (
			POST_CODE,
		    BOARD_CODE,
		    POST_NM,
		    POST_INFO,
		    NOTICE_CHECK,
		    UPPER_CODE,
		    DETHP,
		    VIEW_COUNT,
		    SECRET_CHECK,
		    COMMENT_CHECK,
		    ANSWER_CHECK,
		    INSERT_USER_ID,
		    INSERT_DT
		) VALUES (
		    #{postCode},
		    #{boardCode},
		    #{postNm},
		    #{postInfo},
		    #{noticeCheck},
		    #{upperCode},
		    #{dethp},
		    #{viewCount},
		    #{secretCheck},
		    #{commentCheck},
		    #{answerCheck},
		    #{insertUserId},
		    CURRENT_TIMESTAMP
		)
	</insert>
	<select id="findpostCode" resultType="int">
	    SELECT 
	    MAX(
			POST_CODE
			)
	    FROM TB_POST
	</select>
	<insert id="insertFile" parameterType="com.bmm.api.commonBoard.commonBoardDTO.BoardFileDTO">
    <!--  SQL ID : CommonBoardMapper.insertFile -->
		INSERT INTO TB_POST_FILE (
			POST_CODE,
		    SAVE_FILE_NM,
		    FILE_NM,
		    FILE_SIZE,
		    INSERT_USER_ID,
		    INSERT_DT
		) VALUES (
		    #{postCode},
		    #{saveFileNm},
		    #{fileNm},
		    #{fileSize},
		    #{userId},
		    CURRENT_TIMESTAMP
		)
	</insert>
	<select id="findFileNo" resultType="int">
	    SELECT COALESCE
	    (
			MAX
			(FILE_NO), 0
			)
	    FROM TB_POST_FILE
	</select>
	<select id="getDetailPost" parameterType="int" resultType="com.bmm.api.commonBoard.commonBoardDTO.CommonPostDTO">
    <!--  SQL ID : CommonBoardMapper.getDetailPost -->
        SELECT
			POST_CODE,
			BOARD_CODE,
			POST_NM,
	        POST_INFO,
	        NOTICE_CHECK,
	        UPPER_CODE,
	        DETHP,
	        VIEW_COUNT,
	        COMMENT_CHECK,
	        ANSWER_CHECK,
	        INSERT_USER_ID,
	        INSERT_DT
		FROM TB_POST
		WHERE POST_CODE = #{postCode}
		
    </select>
    <select id="getDetailFile" parameterType="int" resultType="com.bmm.api.commonBoard.commonBoardDTO.BoardFileDTO">
    <!--  SQL ID : CommonBoardMapper.getDetailFile -->
        SELECT
			POST_CODE,
			FILE_NO,
			SAVE_FILE_NM,
			FILE_NM,
	        FILE_SIZE
		FROM TB_POST_FILE
		WHERE POST_CODE = #{postCode}
    </select>
    <select id="fileDownload" parameterType="int" resultType="com.bmm.api.commonBoard.commonBoardDTO.FileDownloadDTO">
    <!--  SQL ID : CommonBoardMapper.fileDownload -->
        SELECT
			FILE_NO,
			SAVE_FILE_NM,
			FILE_NM
		FROM TB_POST_FILE
		WHERE FILE_NO = #{fileNo}
    </select>
    <select id="getListComment" parameterType="int" resultType="com.bmm.api.commonBoard.commonBoardDTO.CommonCommentDTO">
    
	   <!--  SQL ID : CommonBoardMapper.getListComment -->
	   WITH RECURSIVE COMMENT_TREE AS (
	        SELECT
				COMMENT_CODE,
				POST_CODE,
				COMMENT_CONTENT,
				UPPER_CODE,
				DETHP,
				INSERT_USER_ID,
				INSERT_DT,
				TO_CHAR(COMMENT_CODE, 'FM0000000000') AS PATH
			FROM TB_COMMENT
			WHERE POST_CODE = #{postCode}
			AND UPPER_CODE = 0
			
			UNION ALL
			SELECT
		        c.COMMENT_CODE,
		        c.POST_CODE,
		        c.COMMENT_CONTENT,
		        c.UPPER_CODE,
		        c.DETHP,
		        c.INSERT_USER_ID,
		        c.INSERT_DT,
		        ct.PATH || '-' || TO_CHAR(c.COMMENT_CODE, 'FM0000000000') AS PATH
		    FROM TB_COMMENT c
		    JOIN COMMENT_TREE ct ON c.UPPER_CODE = ct.COMMENT_CODE
			WHERE c.POST_CODE = #{postCode}
			)
		SELECT *
		FROM COMMENT_TREE
		ORDER BY PATH;
		
    </select>
    <insert id="insertComment" parameterType="com.bmm.api.commonBoard.commonBoardDTO.CommonCommentDTO">
    <!--  SQL ID : CommonBoardMapper.insertComment -->
		INSERT INTO TB_COMMENT (
		    POST_CODE,
		    COMMENT_CONTENT,
		    UPPER_CODE,
		    DETHP,
		    INSERT_USER_ID,
		    INSERT_DT
		) VALUES (
		    #{postCode},
		    #{commentContent},
		    #{upperCode},
		    #{dethp},
		    #{userId},
		    CURRENT_TIMESTAMP
		)
	</insert>
	<select id="getComment" parameterType="int" resultType="com.bmm.api.commonBoard.commonBoardDTO.CommonCommentDTO">
    
   <!--  SQL ID : CommonBoardMapper.getComment -->
        SELECT
			POST_CODE,
			COMMENT_CODE,
			DETHP
		FROM TB_COMMENT
		WHERE COMMENT_CODE = #{commentCode}
		
    </select>
    <select id="getListNoticePost" parameterType="string" resultType="com.bmm.api.commonBoard.commonBoardDTO.CommonPostDTO">
    
      <!--SQL ID : CommonBoardMapper.getListPost -->
	        SELECT
				tp.BOARD_CODE,
				tp.POST_CODE,
				tp.POST_NM,
				tp.POST_INFO,
				tp.NOTICE_CHECK,
				tp.UPPER_CODE,
				tp.DETHP,
				tp.VIEW_COUNT,
				tp.SECRET_CHECK,
				tp.INSERT_USER_ID,
				tp.INSERT_DT,
				tp.COMMENT_CHECK,
				tp.ANSWER_CHECK,
				(SELECT COUNT(*) FROM TB_COMMENT tc WHERE tp.POST_CODE = tc.POST_CODE) AS COMMENT_CNT,
				TO_CHAR(tp.POST_CODE, 'FM0000000000') AS PATH,
				ROW_NUMBER() OVER (ORDER BY tp.POST_CODE ASC) AS RSEQ
			FROM TB_POST tp
			WHERE BOARD_CODE = #{boardCode}
			AND tp.NOTICE_CHECK = 'Y'
    </select>
    <update id="updatePost" parameterType="com.bmm.api.commonBoard.commonBoardDTO.CommonPostDTO">
    <!--  SQL ID : CommonBoardMapper.insertPost -->
		UPDATE TB_POST
		SET
		    POST_NM =  #{postNm},
		    POST_INFO = #{postInfo}
		   WHERE POST_CODE = #{postCode}
		   
	</update>
	<delete id="fileDelete" parameterType="int">
	<!--  SQL ID : CommonBoardMapper.fileDelete -->
	    DELETE
	    FROM TB_POST_FILE
	    WHERE FILE_NO = #{fileNo}
	</delete>
    <select id="fileInfo" parameterType="int" resultType="com.bmm.api.commonBoard.commonBoardDTO.BoardFileDTO">
	<!--  SQL ID : CommonBoardMapper.fileInfo -->
	    SELECT
	    	FILE_NM,
	    	FILE_NO,
			SAVE_FILE_NM,
			FILE_SIZE,
			POST_CODE
	    FROM TB_POST_FILE
	    WHERE FILE_NO = #{fileNo}
	</select>
	<delete id="deletePost" parameterType="int">
	<!--  SQL ID : CommonBoardMapper.deletePost -->
	    DELETE
	    FROM TB_POST
	    WHERE POST_CODE = #{postCode}
	</delete>
	<delete id="deleteFiles" parameterType="int">
	<!--  SQL ID : CommonBoardMapper.fileDelete -->
	    DELETE
	    FROM TB_POST_FILE
	    WHERE POST_CODE = #{postCode}
	</delete>
	<delete id="deleteComments" parameterType="int">
	<!--  SQL ID : CommonBoardMapper.deleteComments -->
	    DELETE
	    FROM TB_COMMENT
	    WHERE POST_CODE = #{postCode}
	</delete>
	<select id="getUnderCode" parameterType="int" resultType="int">
	    SELECT 
			POST_CODE
	    FROM TB_POST
	    WHERE UPPER_CODE = #{postCode}
	</select>
	<select id="getUnderCodeComment" parameterType="int" resultType="int">
	    SELECT 
			COMMENT_CODE
	    FROM TB_COMMENT
	    WHERE UPPER_CODE = #{commentCode}
	</select>
	<delete id="deleteComment" parameterType="int">
	<!--  SQL ID : CommonBoardMapper.deleteComments -->
	    DELETE
	    FROM TB_COMMENT
	    WHERE COMMENT_CODE = #{commentCode}
	</delete>
	<select id="getDetailComment" parameterType="int" resultType="com.bmm.api.commonBoard.commonBoardDTO.CommonCommentDTO">
    
   <!--  SQL ID : CommonBoardMapper.getDetailComment -->
        SELECT
			COMMENT_CONTENT
		FROM TB_COMMENT
		WHERE COMMENT_CODE = #{commentCode}
		
    </select>
    <update  id="updateComment" parameterType="com.bmm.api.commonBoard.commonBoardDTO.CommonCommentDTO">
    <!--  SQL ID : AdminMainMapper.updateComment -->
	    UPDATE TB_COMMENT
	    SET
	        COMMENT_CONTENT = #{commentContent}
		WHERE COMMENT_CODE = #{commentCode}
	</update>
	<update  id="updateViewCount" parameterType="int">
    <!--  SQL ID : AdminMainMapper.updateViewCount -->
	    UPDATE TB_POST
	    SET
	        VIEW_COUNT = VIEW_COUNT + 1
		WHERE POST_CODE = #{postCode}
	</update>
</mapper>