<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmm.api.logIn.LogInMapper">

    <select id="getOngoingUser" parameterType="string" resultType="com.bmm.api.logIn.UserDTO">
    
   <!--  SQL ID : LogInMapper.getOngoingUser -->
        SELECT 
			USER_ID,
			USER_PASSWORD				
		FROM TB_USER
		WHERE USER_ID = #{userId}
    </select>
    
    <select id="getListUserRole" parameterType="string" resultType="com.bmm.api.logIn.UserRoleDTO">
	
<!--		SQL ID : LogInMapper.getListUserRole -->  <!--사용자 권한 리스트 가져오기-->
		
		SELECT
			tur.USER_ID,
			tr.ROLE_CODE,
			tr.ROLE_GROUP,
			tr.ROLE_NM,
			tr.ORDERS
		FROM tb_ROLE tr
		JOIN tb_USER_ROLE tur ON tur.ROLE_CODE = tr.ROLE_CODE
		WHERE USER_ID =  #{userid}
		
	</select>

	<select id="getUserMenu" parameterType="string" resultType="com.bmm.api.logIn.UserMenuDTO">
	
	<!--	SQL ID : LogInMapper.getUserMenu -->  <!--사용자 권한 리스트 가져오기-->
		
		SELECT
			tum.MENU_CODE,
			tum.MENU_NM,
			tum.DEPTH,
			tr.ROLE_CODE,
			tr.ROLE_NM,
			tr.ROLE_GROUP
		FROM tb_user_menu tum
		JOIN tb_menu_role tmr ON tum.MENU_CODE = tmr.MENU_CODE
		JOIN TB_ROLE tr ON tmr.ROLE_CODE = tr.ROLE_CODE
		WHERE tr.ROLE_CODE = #{roleCode}
		AND DEPTH = 1
		AND tum.USE_ADMIN = 'N'
		ORDER BY tum.MENU_CODE
	</select>
	<select id="getUserSubMenu" parameterType="string" resultType="com.bmm.api.logIn.UserMenuDTO">
	
	<!--	SQL ID : LogInMapper.getUserSubMenu -->  <!--사용자 권한 리스트 가져오기-->
		
		SELECT
			tum.MENU_CODE, 
			tum.MENU_NM,
			tum.DEPTH,
			tum.PARENT_CODE,
			tum.PATH,
			tr.ROLE_CODE,
			tr.ROLE_NM,
			tr.ROLE_GROUP
		FROM TB_USER_MENU tum
		JOIN TB_MENU_ROLE tmr ON tum.MENU_CODE = tmr.MENU_CODE
		JOIN TB_ROLE tr ON tmr.ROLE_CODE = tr.ROLE_CODE
		WHERE PARENT_CODE IN
		(SELECT
			tum.MENU_CODE
		FROM TB_USER_MENU tum
		JOIN TB_MENU_ROLE tmr ON tum.MENU_CODE = tmr.MENU_CODE
		JOIN TB_ROLE tr on tmr.ROLE_CODE = tr.ROLE_CODE
		WHERE DEPTH = 1)
		AND tr.ROLE_CODE = #{roleCode}
		AND tum.USE_ADMIN = 'N'
		ORDER BY tum.MENU_CODE
		
	</select>
	
	 <select id="getUserInfo" parameterType="string" resultType="com.bmm.api.logIn.UserInfoDTO">
    
   		<!--  SQL ID : LogInMapper.getUserInfo -->
        SELECT 
			USER_ID,
			USER_PASSWORD,
			USER_NM,
			PHONE_NUMBER,
			USER_BIRTH,
			USER_GENDER,
			MEMBERSHIP
		FROM TB_USER
		WHERE USER_ID = #{userId}
    </select>


</mapper>