<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bmm.api.keyword.KeywordMapper">

    <select id="getListKeyword" parameterType="com.bmm.api.keyword.SearchKeywordDTO" resultType="com.bmm.api.keyword.KeywordDTO">
    
	<!-- SQL ID : KeywordMapper.getListKeyword -->
	SELECT ROW_NUMBER() OVER(ORDER BY
		<choose>
			<when test="sortKey == 'keywordType'"> B.KEYWORD_TYPE ${sortOrder} </when>
			<when test="sortKey == 'totalSearch'"> B.SEARCH_PC + B.SEARCH_MOBILE ${sortOrder} </when>
			<when test="sortKey == 'searchPc'"> B.SEARCH_PC ${sortOrder} </when>
			<when test="sortKey == 'searchMobile'"> B.SEARCH_MOBILE ${sortOrder} </when>
			<when test="sortKey == 'averageAdv'"> B.AVERAGE_ADV ${sortOrder} </when>
			<otherwise> B.INSERT_DT DESC </otherwise>
		</choose>
			
		) AS RSEQ,
			B.*
			FROM
			(
        WITH RECURSIVE CATEGORY_TREE AS (
    		SELECT CATEGORY_CODE
    		FROM TB_CATEGORY
   			WHERE CATEGORY_CODE = #{categoryCode}
    
    		UNION ALL
    
    		SELECT tc.CATEGORY_CODE
    		FROM TB_CATEGORY tc
    		INNER JOIN CATEGORY_TREE ct ON tc.PARENT_CODE = ct.CATEGORY_CODE
			)
			SELECT
		       
		        tk.*,
		        (SEARCH_PC + SEARCH_MOBILE ) AS TOTAL_SEARCH,
		        (SELECT COMMON_CODE_NM FROM TB_COMMON_CODE_DETAIL tcd WHERE tcd.COMMON_CODE = tk.KEYWORD_TYPE AND tcd.COMMON_GROUP_CODE = 'KEYWORD_TYPE') AS KEYWORD_TYPE_NM
		      <if test="userId != null and userId != ''">
		        ,CASE 
		            WHEN tcs.KEYWORD_CODE IS NOT NULL THEN 'Y'
		            ELSE 'N'
		        END AS CHECK_SELECT
		        </if>
		    FROM TB_KEYWORD tk
		    <if test="userId != null and userId != ''">
		    LEFT JOIN TB_CHECKSELECT tcs
		        ON tk.KEYWORD_CODE = tcs.KEYWORD_CODE
		            AND tcs.USER_ID = #{userId}
		        </if>
		        
		    WHERE tk.CATEGORY_CODE IN (SELECT CATEGORY_CODE FROM CATEGORY_TREE)
		    ) B
    	<where>
			<if test="keywordType != null and keywordType != ''">
		        AND B.KEYWORD_TYPE = #{keywordType}
		    </if>
		
		    <if test="keywordNm != null and keywordNm != ''">
		        AND B.KEYWORD_NM LIKE CONCAT('%', #{keywordNm}, '%')
		    </if>
		
		    <if test="totalSearchMin != 0">
		        AND (B.SEARCH_PC + B.SEARCH_MOBILE) >= #{totalSearchMin}
		    </if>
		    <if test="totalSearchMax != 0">
		    	AND (B.SEARCH_PC + B.SEARCH_MOBILE) &lt;= #{totalSearchMax}
		    </if>
		
		    <if test="pcSearchMin != 0">
		        AND B.SEARCH_PC >= #{pcSearchMin}
		    </if>
		    <if test="pcSearchMax != 0">
		        AND B.SEARCH_PC &lt;= #{pcSearchMax}
		    </if>
		    <if test="mobileSearchMin != 0">
		        AND B.SEARCH_MOBILE >= #{mobileSearchMin}
		    </if>
		    <if test="mobileSearchMax != 0">
		        AND B.SEARCH_MOBILE &lt;= #{mobileSearchMax}
		    </if>
		    <if test="averageAdvMin != null">
		        AND B.AVERAGE_ADV >= #{averageAdvMin}
		    </if>
		    <if test="averageAdvMax != null">
		        AND B.AVERAGE_ADV &lt;= #{averageAdvMax}
		    </if>
		    <if test="checkSelect != null">
		        AND B.CHECK_SELECT  = #{checkSelect, jdbcType=VARCHAR}
		    </if>
		    
		</where>	
		
		    
    </select>
     <select id="getDetailKeyword" parameterType="int" resultType="com.bmm.api.keyword.KeywordDTO">
    
   <!--  SQL ID : KeywordMapper.getDetailKeyword -->
        SELECT
			KEYWORD_CODE,
			KEYWORD_NM,
			KEYWORD_INFO,
			KEYWORD_SCORE,
			SEARCH_PC,
			SEARCH_MOBILE,
			KEYWORD_IMG,
			(SELECT COUNT(*) FROM TB_PRODUCT tp WHERE tp.KEYWORD_CODE = #{keywordCode}) AS PRODUCT_CNT,
			(SELECT COMMON_CODE_NM FROM TB_COMMON_CODE_DETAIL tcd WHERE tcd.COMMON_CODE = TB_KEYWORD.KEYWORD_TYPE AND tcd.COMMON_GROUP_CODE = 'KEYWORD_TYPE') AS KEYWORD_TYPE_NM,
			INSERT_DT,
			INSERT_USER_ID
		FROM TB_KEYWORD
		WHERE KEYWORD_CODE = #{keywordCode}
    </select>
    <select id="getKeywordChart" parameterType="int" resultType="com.bmm.api.keyword.KeywordChartDTO">
		<!--  SQL ID : KeywordMapper.getKeywordChart -->
		SELECT 
		  SUM(CASE WHEN TYPE = 'age' AND SUB_TYPE = '10' THEN CNT ELSE 0 END) AS age_10,
		  SUM(CASE WHEN TYPE = 'age' AND SUB_TYPE = '20' THEN CNT ELSE 0 END) AS age_20,
		  SUM(CASE WHEN TYPE = 'age' AND SUB_TYPE = '30' THEN CNT ELSE 0 END) AS age_30,
		  SUM(CASE WHEN TYPE = 'age' AND SUB_TYPE = '40' THEN CNT ELSE 0 END) AS age_40,
		  SUM(CASE WHEN TYPE = 'age' AND SUB_TYPE = '50' THEN CNT ELSE 0 END) AS age_50,
		  SUM(CASE WHEN TYPE = 'age' AND SUB_TYPE = '60' THEN CNT ELSE 0 END) AS age_60,
		  SUM(CASE WHEN TYPE = 'device' AND SUB_TYPE = 'pc' THEN CNT ELSE 0 END) AS device_pc,
		  SUM(CASE WHEN TYPE = 'device' AND SUB_TYPE = 'mobile' THEN CNT ELSE 0 END) AS device_mobile,
		  SUM(CASE WHEN TYPE = 'gender' AND SUB_TYPE = 'man' THEN CNT ELSE 0 END) AS gender_man,
		  SUM(CASE WHEN TYPE = 'gender' AND SUB_TYPE = 'woman' THEN CNT ELSE 0 END) AS gender_woman
		FROM TB_KEYWORD_SEARCH
		WHERE KEYWORD_CODE = #{keywordCode}

    </select>
    <select id="getKeywordHistoryChart" parameterType="int" resultType="com.bmm.api.keyword.KeywordHistoryChartDTO">
		<!--  SQL ID : KeywordMapper.getKeywordHistory -->
		SELECT
		  DATE,
		  CNT AS TOTAL_CNT
		FROM TB_KEYWORD_SEARCH
		WHERE KEYWORD_CODE = #{keywordCode}
		AND TYPE = 'total'
		AND SUB_TYPE = 'total'
		AND DATE BETWEEN CURRENT_DATE - INTERVAL '30 days' AND CURRENT_DATE
		ORDER BY DATE DESC;
    </select>
    <select id="getKeywordCategory" parameterType="int" resultType="com.bmm.api.keyword.KeywordCategoryDTO">
		<!--  SQL ID : KeywordMapper.getKeywordCategory -->
		SELECT
			KEYWORD_CODE,
			KEYCATEGORY_NM,
			KEYCATEGORY_MAIN,
			KEYCATEGORY_RATIO
		FROM TB_KEYWORD_CATEGORY
		WHERE KEYWORD_CODE = #{keywordCode}		
    </select>
   
    
  	<select id="checkFavoriteExists" resultType="boolean">
	    SELECT COUNT(*) > 0
	    FROM TB_CHECKSELECT
	    WHERE USER_ID = #{userId}
	      AND KEYWORD_CODE = #{keywordCode}
	</select>

	<insert id="addFavorite">
	    INSERT INTO TB_CHECKSELECT (
			USER_ID,
			KEYWORD_CODE,
			INSERT_DT
			)
	    VALUES (
			#{userId},
			#{keywordCode},
			CURRENT_TIMESTAMP
			)
	</insert>

	<delete id="removeFavorite">
	    DELETE FROM TB_CHECKSELECT
	    WHERE USER_ID = #{userId}
	      AND KEYWORD_CODE = #{keywordCode}
	</delete>
	    <select id="getKeywordNm" parameterType="int" resultType="string">
		<!--  SQL ID : KeywordMapper.getKeywordNm -->
		SELECT 
			KEYWORD_NM
		FROM TB_KEYWORD
		WHERE KEYWORD_CODE = #{keywordCode}
    </select>
    <select id="downloadKeywordExcel" parameterType="com.bmm.api.keyword.SearchKeywordDTO" resultType="com.bmm.api.keyword.KeywordExcelDTO">
    
	<!-- SQL ID : KeywordMapper.getListKeyword -->
	SELECT ROW_NUMBER() OVER(ORDER BY
		<choose>
			<when test="sortKey == 'keywordType'"> B.KEYWORD_TYPE ${sortOrder} </when>
			<when test="sortKey == 'totalSearch'"> B.SEARCH_PC + B.SEARCH_MOBILE ${sortOrder} </when>
			<when test="sortKey == 'searchPc'"> B.SEARCH_PC ${sortOrder} </when>
			<when test="sortKey == 'searchMobile'"> B.SEARCH_MOBILE ${sortOrder} </when>
			<when test="sortKey == 'averageAdv'"> B.AVERAGE_ADV ${sortOrder} </when>
			<otherwise> B.INSERT_DT DESC </otherwise>
		</choose>
			
		) AS RSEQ,
			B.*
			FROM
			(
        WITH RECURSIVE CATEGORY_TREE AS (
    		SELECT CATEGORY_CODE
    		FROM TB_CATEGORY
   			WHERE CATEGORY_CODE = #{categoryCode}
    
    		UNION ALL
    
    		SELECT tc.CATEGORY_CODE
    		FROM TB_CATEGORY tc
    		INNER JOIN CATEGORY_TREE ct ON tc.PARENT_CODE = ct.CATEGORY_CODE
			)
			SELECT
		        tk.KEYWORD_CODE,
				tk.KEYWORD_NM,
				tk.KEYWORD_TYPE,
				tk.SEARCH_PC,
				tk.SEARCH_MOBILE,
				tk.AVERAGE_ADV,
				tk.INSERT_DT,
		        (SEARCH_PC + SEARCH_MOBILE ) AS TOTAL_SEARCH,
		        (SELECT COMMON_CODE_NM FROM TB_COMMON_CODE_DETAIL tcd WHERE tcd.COMMON_CODE = tk.KEYWORD_TYPE AND tcd.COMMON_GROUP_CODE = 'KEYWORD_TYPE') AS KEYWORD_TYPE_NM
			    <if test="userId != null and userId != ''">
	            	, CASE WHEN tcs.KEYWORD_CODE IS NOT NULL THEN 'Y' ELSE 'N' END AS CHECK_SELECT
			    </if>
		    FROM TB_KEYWORD tk
		    <if test="userId != null and userId != ''">
		        LEFT JOIN TB_CHECKSELECT tcs ON tk.KEYWORD_CODE = tcs.KEYWORD_CODE AND tcs.USER_ID = #{userId}
		    </if>
		    WHERE tk.CATEGORY_CODE IN (SELECT CATEGORY_CODE FROM CATEGORY_TREE)
		    ) B
    	<where>
			<if test="keywordType != null and keywordType != ''">
		        AND B.KEYWORD_TYPE = #{keywordType}
		    </if>
		
		    <if test="keywordNm != null and keywordNm != ''">
		        AND B.KEYWORD_NM LIKE CONCAT('%', #{keywordNm}, '%')
		    </if>
		
		    <if test="totalSearchMin != 0">
		        AND (B.SEARCH_PC + B.SEARCH_MOBILE) >= #{totalSearchMin}
		    </if>
		    <if test="totalSearchMax != 0">
		    	AND (B.SEARCH_PC + B.SEARCH_MOBILE) &lt;= #{totalSearchMax}
		    </if>
		
		    <if test="pcSearchMin != 0">
		        AND B.SEARCH_PC >= #{pcSearchMin}
		    </if>
		    <if test="pcSearchMax != 0">
		        AND B.SEARCH_PC &lt;= #{pcSearchMax}
		    </if>
		    <if test="mobileSearchMin != 0">
		        AND B.SEARCH_MOBILE >= #{mobileSearchMin}
		    </if>
		    <if test="mobileSearchMax != 0">
		        AND B.SEARCH_MOBILE &lt;= #{mobileSearchMax}
		    </if>
		    <if test="averageAdvMin != null">
		        AND B.AVERAGE_ADV >= #{averageAdvMin}
		    </if>
		    <if test="averageAdvMax != null">
		        AND B.AVERAGE_ADV &lt;= #{averageAdvMax}
		    </if>
		    <if test="checkSelect != null">
		        AND B.CHECK_SELECT  = #{checkSelect, jdbcType=VARCHAR}
		    </if>
		</where>	
		
		    
    </select>
        <select id="getCountReview" parameterType="int" resultType="com.bmm.api.keyword.ReviewStatsDTO">
    
    	<!--  SQL ID : KeywordMapper.getCountReview -->
	 	SELECT 
	        ROUND(COALESCE(AVG(sub.review_count), 0)) AS pageAvgReview,
	        (
	            SELECT ROUND(COALESCE(AVG(t.review_count), 0))
	            FROM (
	                SELECT COUNT(*) AS review_count
	                FROM tb_product tp2
	                INNER JOIN tb_review tr2 ON tp2.product_code = tr2.product_code
	                WHERE tp2.keyword_code = #{keywordCode}
	                GROUP BY tp2.product_code
	                ORDER BY review_count DESC
	                LIMIT 3
	            ) t
	        ) AS top3AvgReview,
	        (
	            SELECT COALESCE(t2.review_count, 0)
	            FROM (
	                SELECT COUNT(*) AS review_count
	                FROM tb_product tp3
	                INNER JOIN tb_review tr3 ON tp3.product_code = tr3.product_code
	                WHERE tp3.keyword_code = #{keywordCode}
	                GROUP BY tp3.product_code
	                ORDER BY review_count DESC
	                LIMIT 1 OFFSET 5
	            ) t2
	        ) AS middlePageReview
	    FROM (
	        SELECT COUNT(*) AS review_count
	        FROM tb_product tp
	        LEFT JOIN tb_review tr ON tp.product_code = tr.product_code
	        WHERE tp.keyword_code = #{keywordCode}
	        GROUP BY tp.product_code
	    ) sub
	</select>
	
	<select id="getShoppingDetail" parameterType="int" resultType="com.bmm.api.keyword.ReviewStatsDTO">
	
		<!--  SQL ID : KeywordMapper.getShoppingDetail -->	
	  	SELECT 
	        ROUND(AVG(sub.review_score), 2) AS top10AvgScore,
	        SUM(sub.sales * sub.amount) AS top10Sales,
	        (
	            SELECT SUM(sub2.sales * sub2.amount)
	            FROM (
	                SELECT tp.sales, tp.amount
	                FROM tb_keyword tk
	                INNER JOIN tb_product tp ON tk.keyword_code = tp.keyword_code
	                INNER JOIN tb_review tr ON tr.product_code = tp.product_code
	                WHERE tk.keyword_code = #{keywordCode}
	                ORDER BY (tp.sales * tp.amount) DESC
	                LIMIT 20
	            ) sub2
	        ) AS top20Sales
	    FROM (
	        SELECT tp.sales, tp.amount, tr.review_score
	        FROM tb_keyword tk
	        INNER JOIN tb_product tp ON tk.keyword_code = tp.keyword_code
	        INNER JOIN tb_review tr ON tr.product_code = tp.product_code
	        WHERE tk.keyword_code = #{keywordCode}
	        ORDER BY (tp.sales * tp.amount) DESC
	        LIMIT 10
	    ) sub
    
    </select>
    <select id="getGender" resultType="com.bmm.api.keyword.ReviewStatsDTO">
		<!--  SQL ID : KeywordMapper.getGender -->
		SELECT
		  COUNT(CASE WHEN USER_GENDER = 'USER_GENDER_01' THEN 1 END) AS userGenderMCnt,
		  COUNT(CASE WHEN USER_GENDER = 'USER_GENDER_02' THEN 1 END) AS userGenderFMCnt
		FROM TB_USER;
    </select>
    <select id="getScore" parameterType="double" resultType="string">
    	<!--  SQL ID : ProductMapper.getScore -->
	    SELECT
	    	RANK_NM
	    FROM TB_SCORE_RANK
	    WHERE #{score} BETWEEN RANK_START_SCORE AND RANK_END_SCORE
	</select>
	


</mapper>